<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MetaExploreX</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">

</head>
<body>
    <h1>MetaExploreX</h1>
    <button class="btn btn-primary sample-file" id="sample-file-button">Sample File</button>

    <div class="modal" id="sampleFileModal">
        <div class="modal-content">
            <span class="close" onclick="closeSampleFileModal()">&times;</span>
            <h3 class="text-center">Choose the type of file you want to see!</h3>

            <div id="singleTypeContent">
                <h3 class="text-center">Sample File Content for Single Type Tog File</h3>
            <br>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Input Test Data</th>
                        <th>MR Transformed</th>
                        <th>Output Test Input</th>
                        <th>Output MR</th>
                        <th>MR Checker</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>[-17, 5, 13, 1, 18, 5, -7, -19, -11, 8, 11]</td>
                        <td>[-17, 13, 11, -19, 8, -7, 5, 1, 18, 5, -11]</td>
                        <td>7</td>
                        <td>21</td>
                        <td>Not-violated</td>
                    </tr>
                    <tr>
                        <td>[3, 10, 13, -4, 13, 17, -8]</td>
                        <td>[3, 17, -4, 13, 10, -8, 13]</td>
                        <td>44</td>
                        <td>132</td>
                        <td>Violated</td>
                    </tr>
                    <tr>
                        <td>[-11, 4, -12, 14, -10]</td>
                        <td>[-11, 4, -12, -10, 14]</td>
                        <td>15</td>
                        <td>-45</td>
                        <td>Violated</td>
                    </tr>
                    <tr>
                        <td>[5, -6, 16, -9, 15, 18]</td>
                        <td>[16, 5, 15, -9, -6, 18]</td>
                        <td>39</td>
                        <td>117</td>
                        <td>Not-violated</td>
                    </tr>
                </tbody>
            </table>
            </div>

            <br>
            <br>
            <br>
            
            <div id="multipleTypeContent" style="display: none;">
                <h3 class="text-center">Sample File Content for Multiple Type Log File</h3>
                <br>
                <table class="table table-bordered responsive-table">
                    <thead>
                        <tr>
                            <th colspan="5">Input Test Data</th>
                            <th colspan="5">MR1 Transformed</th>
                            <th colspan="5">MR2 Transformed</th>
                            <th colspan="5">MR3 Transformed</th>
                            <th colspan="5">MR... Transformed</th>
                            <th colspan="5">MRn Transformed</th>
                            <th colspan="5">Output Test Input</th>
                            <th colspan="5">Output MR1</th>
                            <th colspan="5">Output MR2</th>
                            <th colspan="5">Output MR3</th>
                            <th colspan="5">Output MR...</th>
                            <th colspan="5">Output MRn</th>
                            <th colspan="5">MR1 Checker</th>
                            <th colspan="5">MR2 Checker</th>
                            <th colspan="5">MR3 Checker</th>
                            <th colspan="5">MR... Checker</th>
                            <th colspan="5">MRn Checker</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="5">[-17, 5, 13, 1, 18, 5, -7, -19, -11, 8, 11]</td>
                            <td colspan="5">[-17, 13, 11, -19, 8, -7, 5, 1, 18, 5, -11]</td>
                            <td colspan="5">[-14, 8, 16, 4, 21, 8, -4, -16, -8, 11, 14]</td>
                            <td colspan="5">[-51, 15, 39, 3, 54, 15, -21, -57, -33, 24, 33]</td>
                            <td colspan="5">[-17, 5, 13, 1, 18, 5, -7, -19, -11, 8, 11, 3]</td>
                            <td colspan="5">[-17, 5, 13, 1, 18, 5, -7, -19, -11, 8]</td>
                            <td colspan="5">7</td>
                            <td colspan="5">7</td>
                            <td colspan="5">40</td>
                            <td colspan="5">21</td>
                            <td colspan="5">1.403166381</td>
                            <td colspan="5">10</td>
                            <td colspan="5">Not-violated</td>
                            <td colspan="5">Not-violated</td>
                            <td colspan="5">Not-violated</td>
                            <td colspan="5">Violated</td>
                            <td colspan="5">Not-violated</td>
                        </tr>
                        <tr>
                            <td colspan="5">[-17, 5, 13, 1, 18, 5, -7, -19, -11, 8, 11]</td>
                            <td colspan="5">[-17, 13, 11, -19, 8, -7, 5, 1, 18, 5, -11]</td>
                            <td colspan="5">[-14, 8, 16, 4, 21, 8, -4, -16, -8, 11, 14]</td>
                            <td colspan="5">[-51, 15, 39, 3, 54, 15, -21, -57, -33, 24, 33]</td>
                            <td colspan="5">[-17, 5, 13, 1, 18, 5, -7, -19, -11, 8, 11, 3]</td>
                            <td colspan="5">[-17, 5, 13, 1, 18, 5, -7, -19, -11, 8]</td>
                            <td colspan="5">7</td>
                            <td colspan="5">7</td>
                            <td colspan="5">40</td>
                            <td colspan="5">21</td>
                            <td colspan="5">1.403166381</td>
                            <td colspan="5">10</td>
                            <td colspan="5">Not-violated</td>
                            <td colspan="5">Not-violated</td>
                            <td colspan="5">Not-violated</td>
                            <td colspan="5">Violated</td>
                            <td colspan="5">Not-violated</td>
                        </tr>
                        <tr>
                            <td colspan="5">[-17, 5, 13, 1, 18, 5, -7, -19, -11, 8, 11]</td>
                            <td colspan="5">[-17, 13, 11, -19, 8, -7, 5, 1, 18, 5, -11]</td>
                            <td colspan="5">[-14, 8, 16, 4, 21, 8, -4, -16, -8, 11, 14]</td>
                            <td colspan="5">[-51, 15, 39, 3, 54, 15, -21, -57, -33, 24, 33]</td>
                            <td colspan="5">[-17, 5, 13, 1, 18, 5, -7, -19, -11, 8, 11, 3]</td>
                            <td colspan="5">[-17, 5, 13, 1, 18, 5, -7, -19, -11, 8]</td>
                            <td colspan="5">7</td>
                            <td colspan="5">7</td>
                            <td colspan="5">40</td>
                            <td colspan="5">21</td>
                            <td colspan="5">1.403166381</td>
                            <td colspan="5">10</td>
                            <td colspan="5">Not-violated</td>
                            <td colspan="5">Not-violated</td>
                            <td colspan="5">Not-violated</td>
                            <td colspan="5">Violated</td>
                            <td colspan="5">Not-violated</td>
                        </tr>
                        <tr>
                            <td colspan="5">[-17, 5, 13, 1, 18, 5, -7, -19, -11, 8, 11]</td>
                            <td colspan="5">[-17, 13, 11, -19, 8, -7, 5, 1, 18, 5, -11]</td>
                            <td colspan="5">[-14, 8, 16, 4, 21, 8, -4, -16, -8, 11, 14]</td>
                            <td colspan="5">[-51, 15, 39, 3, 54, 15, -21, -57, -33, 24, 33]</td>
                            <td colspan="5">[-17, 5, 13, 1, 18, 5, -7, -19, -11, 8, 11, 3]</td>
                            <td colspan="5">[-17, 5, 13, 1, 18, 5, -7, -19, -11, 8]</td>
                            <td colspan="5">7</td>
                            <td colspan="5">7</td>
                            <td colspan="5">40</td>
                            <td colspan="5">21</td>
                            <td colspan="5">1.403166381</td>
                            <td colspan="5">10</td>
                            <td colspan="5">Not-violated</td>
                            <td colspan="5">Not-violated</td>
                            <td colspan="5">Not-violated</td>
                            <td colspan="5">Violated</td>
                            <td colspan="5">Not-violated</td>
                        </tr>
                    </tbody>
                </table>
            </div>
           
            <div class="file-buttons">
                <button id="singleTypeBtn" class="btn btn-info">Show Single Type</button>
                <button id="multipleTypeBtn" class="btn btn-success">Show Multiple Type</button>
            </div>
        </div>
    </div>
    <form action="{% url 'metalogs' %}" class="analysis-options" method="GET" enctype="multipart/form-data" id="upload-form" onsubmit="return validateForm()">
        {% csrf_token %}
        <div class="">
            <label>Choose your log file type!</label>
            <select class="form-control" name="file_type" required>
                <option aria-readonly="true">Choose file type!</option>
                <option value="single" id="single-analysis">All MRs in a single file</option>
                <option value="multiple" id="multiple-analysis">All MRs in multiple files</option>
            </select>
        </div>
        <br>
        <label>How many MRs will be in the log file?</label>
        <input type="number" name="num_mrs" id="num-mrs" placeholder="Enter the number of MRs" class="form-control" required>
        <button type="submit" class="btn btn-primary pt-3" id="upload-button">Next</button>
    </form>

    

    <script>
        document.getElementById("upload-button").addEventListener("click", function() {
            showLoader();
        });
        
        document.querySelector('select[name="file_type"]').addEventListener('change', function() {
        var selectedOption = this.value;
        var numMRsInput = document.getElementById("num-mrs");

        if (selectedOption === "multiple") {
            numMRsInput.value = 1; 
            numMRsInput.setAttribute("readonly", "true"); 
        } else {
            numMRsInput.removeAttribute("readonly");
        }
    });

    window.addEventListener("load", function() {
        var shouldResetForm = document.getElementById("num-mrs").value;
        if (shouldResetForm) {
            var form = document.getElementById("upload-form");
            form.reset(); 
        }
    });


        function showLoader() {
            document.getElementById("main").style.display = "none";
            document.getElementById("loader").style.display = "block";

            setTimeout(function() {
                document.getElementById("loader").style.display = "none";
                document.getElementById("main").style.display = "block";
            }, 3000);
        }

        function validateForm() {
            var selectedOption = document.querySelector('select').value;
            if (selectedOption == "Choose file type!") {
                alert('Please choose a log file type (Single/Multiple) before uploading.');
                return false; 
            }
            return true;
        }


        function openSampleFileModal() {
            var singleTypeBtn = document.getElementById("singleTypeBtn");
            var multipleTypeBtn = document.getElementById("multipleTypeBtn");
            var singleTypeContent = document.getElementById("singleTypeContent");
            var modal = document.getElementById("sampleFileModal");
            modal.style.display = "block";
            singleTypeContent.style.display = "none";

            singleTypeBtn.addEventListener("click", function () {
                document.getElementById("singleTypeContent").style.display = "block";
                document.getElementById("multipleTypeContent").style.display = "none";
            });

            multipleTypeBtn.addEventListener("click", function () {
                document.getElementById("singleTypeContent").style.display = "none";
                document.getElementById("multipleTypeContent").style.display = "block";
            });
        } 

    function closeSampleFileModal() {
        var modal = document.getElementById("sampleFileModal");
        modal.style.display = "none";
    }

    document.getElementById("sample-file-button").addEventListener("click", openSampleFileModal);
</script>

</body>
</html>