body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
    min-height: 100vh;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    display: none;
    }


@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    }


.analysis-options {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    height: 165px;
}

.analysis-options h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.analysis-options label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.analysis-options label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    width: 20px;
    height: 20px;
    border: 2px solid #007BFF;
    border-radius: 50%;
    background-color: transparent;
}

.analysis-options input[type="radio"] {
    /* display: none; */
    position: relative;
    margin-right: 338px;
    bottom: 28px;
}


.analysis-options input[type="radio"]:checked + label::before {
    background-color: #007BFF;
}

.analysis-options input[type="radio"]:checked + label {
    color: #007BFF;
}

h1 {
    text-align: center;
    margin: 20px 0;
    color: #333;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

form {
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-left: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 3px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

p {
    margin-top: 20px;
    color: #333;
}

img {
    width: 100%;
    height: 100%;
    display: block;
    margin-top: 20px;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 30%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}

.alert-info {
    background-color: #cce5ff;
    border-color: #b8daff;
    color: #004085;
}

.alert-warning {
    background-color: #fff3cd;
    border-color: #ffeeba;
    color: #856404;
}

.alert-error {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}

.close {
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

.close:hover {
    color: #000;
    text-decoration: none;
    opacity: .75;
}

.alert p {
    margin: 0;
}

.custom-alert {
    background-color: #ffcccc;
    border-color: #ff9999;
    color: #ff0000;
}